<?xml version="1.0"?>  
    <!-- script_version=1.1 -->  
    <robot name="sensor_velodyne" xmlns:xacro="http://ros.org/wiki/xacro">  
      <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_gazebo.urdf.xacro"/>  
      <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_properties.urdf.xacro"/>  
      
     <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440">
    <origin xyz="0 0 0.4" rpy="0 0 0" />
  </VLP-16>
</robot> 

